<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
<bean id="triangle" class="org.learn.spring.Triangle">
	<constructor-arg name = "type" value = "Equilateral"/>
	<property name="pointLists">
	<list>
	 <ref bean="origin"/>
	 <ref bean="secondPoint"/>
	 <bean id = "thirdPoint" class = "org.learn.spring.Point">
 		<property name = "x" value ="5"></property>
 		<property name = "y" value ="-5"></property>
	</bean>
	</list>
	</property>
</bean>

<bean id = "origin" class = "org.learn.spring.Point">
 	<property name = "x" value ="0"></property>
 	<property name = "y" value ="0"></property>
</bean>
   
<bean id = "secondPoint" class = "org.learn.spring.Point">
 	<property name = "x" value ="-5"></property>
 	<property name = "y" value ="-5"></property>
</bean>   
   
</beans>